*{
margin: 0;
padding: 0;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif; 
}
#order-items img{
 width: 2vh;
 height: 2vh;
 object-fit: cover;
 border-radius: 50px;
 display: inline-flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 position: relative;
}


 .container{
      z-index: 99;      
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);   
      margin-top: 10vh;
      background-color: #fff;
     min-height: 30vh;
     width: 100%;
    
        }
        
        .item-details{
          flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center; 
     position: relative;   
        }
        
       .item-detqils p{
        font-weight: 200;
       }
        .charges{
     flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center; 
     position: relative;   
     margin-top: 5vh;
        }
        
        .charges button{
border: none;
outline: none;
border-radius: 5px;
margin-bottom: 10px;
box-sizing: border-box;
background-color:#ff1515bf;
transition: all .5s ease;
font-family: gilroy; 
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
width: 97%;
margin-top: 3vh;
}
