*{
margin: 0;
padding: 0;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif; 

}

 #search {
      width: 90%;
      padding: 10px;
      font-size: 16px;
      outline-color:#ff1515bf;
      border-color: #ff1515bf;
      border-radius: 8px;
      margin-left: 10px;
      margin-top: 10px;
    }
nav{
width: 100%;
height: 8vh;
position:relative;
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 0 0 2px #000;
border-radius: 5px;
}

nav button{
border: none;
outline: none;
border-radius: 5px;
margin-bottom: 10px;
box-sizing: border-box;
background-color:#ff1515bf;
transition: all .5s ease;
font-family: gilroy; 
color: #fff;
padding: 10px 20px;
text-transform: uppercase;

}
.item button {
box-shadow: 0 0 5px #ff1515bf,
0 0 25px #ff1515bf;
}


.user{
 padding: 0 10px;
}
nav img{
 width: 15vh;
 height: 10vh;
 object-fit: contain;
 padding: 0 13px;
}


 .product {
            margin-bottom: 10px;
            margin-top: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        #cart {
            position: fixed;
            margin-top: 15vh;
            top: 10px;
            right: 10px;
            cursor: pointer;
            z-index: 999;
           
           
        }
      #cart-items {
    display: flex;
    flex-direction: column; /* Updated to display items vertically */
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;        
}
        #cart-count {
           
            color: white;
             border:none;
            outline:none;          
            padding:5px;
            font-size:13px;
            margin-left:-2px;
            obj-fit:cover;
            z-index: 98;
        }
      #cart-container{
      z-index: 99;
      position: fixed;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);   
      margin-top: 10vh;
      background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;    
     height: 100vh;
     width: 100%;
    
        }
        #cart span{
         border-radius:50px;
         background-color: #ff1515bf;
        }
        #cart i{
         background-color: red;
            color: white;
             border:none;
            outline:none;          
            padding:5px;
            font-size:13px;
            margin-left:-2px;
            obj-fit:cover;
            border-radius:50px; 
            
        }
        .product img {
            width: 100px; /* Adjust the size as needed */
            height: auto;
            margin-bottom: 5px; /* Add some spacing between the image and the button */
        }
#cart-modal img{
width: 2vh;
height: 2vh;
object-fit: contain;
border-radius: 50px;
}
#cart-modal{
z-index: 98;
transition: all .5s ease;
font-family: gilroy; 
color: #000;
padding: 10px 20px;
text-transform: uppercase;
text-align: center;
}

#cart-modal #order-buttons{
border: none;
outline: none;
border-radius: 5px;
margin-bottom: 10px;
box-sizing: border-box;
background-color:#ff1515bf;
transition: all .5s ease;
font-family: gilroy; 
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
}

#cart-items button{
 border: none;
outline: none;
border-radius: 5px;
margin-bottom: 10px;
box-sizing: border-box;
background-color:#ff1515bf;
transition: all .5s ease;
font-family: gilroy; 
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
margin-right: 6px;
width: 10vh;
}

.card{
   position: relative;
      width:10vh;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      min-height: 38vh;
     
}

.card button{
border: none;
outline: none;
border-radius: 5px;
background-color:#ff1515bf;
transition: all .5s ease;
font-family: gilroy; 
color: #fff;
margin-top: -18px;
text-transform: uppercase;
width: 95%; 
padding: 14px;
text-align: center;
margin-left: 1vh;

      position: relative;
      overflow: hidden;     
      border: none;
      padding: 10px 20px;
      font-size: 16px;     
      animation: pulse 1.5s infinite alternate;
    }

 
   .card button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
     
      animation: lineAnimation 2s linear infinite;
    }
    
.img-container{
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 padding: 0 10px;
 min-height: 45vh;
}
.img-container img{
 width: 52vh;
 height:30vh ;
 overflow: hidden;
 object-fit: cover;
 transition: all .55s ease;
 
}
.card{
      position: relative;
      width:47vh;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
}

.page3-img-details{
 left: 0;
 bottom: 0;
 min-height: 10vh;
  
 }


.page3-img-details p{
 margin: 0;
 color: #00000094;
}


#scalable-container{
  width: 52vh;
 height:30vh ;
 overflow: hidden;
 transition: all .55s ease;
}


.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10px;
  min-height: 45vh;
  overflow: hidden; /* Ensure that the scaled image remains contained */
}

#scalable-container {
  width: 52vh;
  height: 28vh;
  overflow: hidden; /* Ensure that the scaled image remains contained */
  transition: all 0.55s ease;
}


#restaurantDetails{
     margin-top: 1vh;
      position: relative;
      width:100%;
      min-height: 30vh;
      border-radius: 10px;
      overflow: hidden;
      
}
#restaurantDetails img{
 object-fit: cover;
 width: 100%;
 height:36vh; 
}


#restaurantDetails h4{
 text-align: center;
 color: #ff1515bf;
 font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif; 
 font-size: 30px;
 font-weight: 1;
}
.page3-img-details p{
 font-weight: 200;
}
.page3-img-details h3{
 font-weight: 400;
 padding: 0 5px;
}


#no-result{
 display: none;
}

#no-result img{
 width: 100%;
}











.page4{
 width: 100%;
 min-height: 110vh;
 background-color: #e8e8e8c9;
 }
 .page4-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: relative;
 height: 50vh;
 color: red;
}
.page4 img{
 padding: 2px 10px;
 width:20vh ;
 height:20vh ;
 object-fit: contain;
}

.page4-part1{
 display: inline-block;
 width: 50%;
} 

.page4 a{
text-decoration: none;
color: #00000098;
font-family: gilroy;
font-weight: 300;
}

.page4-part3{
 width: 100%;
 height: 40vh;
 border-bottom: 1px solid #000;
 display:inline-block;
 align-items: center;
 justify-content: center;
 position: relative;
 text-align: center;
 
}
.page4-part3 i{
 border: 2px solid #000;
 width: 2vh;
 height: 2vh;
 text-align: center;
 background-color: #000;
 border-radius: 25px;
 color: #fff;
 object-fit: contain;
margin-top: 20px;
margin-right: 10px;
}


.page4-part4{
  width: 100%;
 height: 30vh;
 background-color: #e8e8e8c9;
}

.page4-part4 p{
 text-align: left;
 padding: 20px;
 font-family: gilroy;
 font-weight: 299;
}
